:root {
    --color-blue: #7dd3fc;
    --color-blue-dark: #0950c3;
    --color-blue-light: #e0f2fe;
    --color-green: #15803d;
    --color-grey: #d1d5db;
    --color-grey-dark: #6b7280;
    --color-grey-light: #f3f4f6;
    --color-red: #dc2626;
    --color-white: #fff;
    --color-yellow: #ffdd72;
    --color-yellow-dark: #ffae06;
    --border-grey: 0.2rem solid var(--color-grey);
    --border-radius: 6px;
    --font-family: ui-sans-serif, system-ui, sans-serif;
    --spacing: 1.6rem;
    --text-color: #1f2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

header {
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: var(--spacing);

    & h1 {
        font-size: 2.4rem;
    }

    & svg {
        height: 2.4rem;
        width: 2.4rem;
    }
}

section {
    border: 0.2rem solid;
    border-radius: var(--border-radius);
    margin: var(--spacing);
    padding: var(--spacing);

    &.empty-section {
        background-color: var(--color-yellow);
        border-color: var(--color-yellow-dark);
        font-style: italic;
        font-weight: bold;
    }

    &.grocery-section {
        background-color: var(--color-blue-light);
        border-color: var(--color-blue);

        & button {
            color: var(--color-white);

            &.clear {
                background-color: var(--color-red);
                border-radius: var(--border-radius);
                padding: calc(var(--spacing) / 2) var(--spacing);
            }

            &.delete {
                background-color: var(--color-blue-dark);
                border-radius: 50%;
                font-size: 1.3rem;
                height: 2rem;
                width: 2rem;
                margin-left: calc(var(--spacing) / 2);
            }
        }

        & h2 {
            font-size: 2rem;
            margin-bottom: calc(var(--spacing) * 1.5);
        }

        & li {
            margin: 0 0 2rem calc(var(--spacing) * 3.5);
        }
    }

    &.add-item-section {
        background-color: var(--color-grey-light);
        border: var(--border-grey);

        & h2 {
            font-size: 2rem;
            margin-bottom: var(--spacing);
        }

        & input {
            border: var(--border-grey);
            font-size: 1.6rem;
        }

        & input[type='submit'] {
            background-color: var(--color-blue-dark);
            border: none;
            border-radius: var(--border-radius);
            color: var(--color-white);
            cursor: pointer;
            padding: calc(var(--spacing) / 2) var(--spacing);
        }
    }
}

footer {
    border-top: var(--border-grey);
    color: var(--color-grey-dark);
    font-size: 1.4rem;

    & p {
        margin: var(--spacing);
    }
}

.hide {
    display: none;
}

.row {
    display: flex;
    gap: var(--spacing);
}
